.mainContainer:global(.bp3-dark) {
    background-color: #394b59;
    min-height: 100vh;
    height: 100%;
}

.mainContent {
    padding: 32px;
    margin: 0 auto;
    max-width: 1200px;
}

.themeSwitcher {
    position: absolute;
    bottom: 8px;
    left: 8px;
}